{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": "commonjs",
            "useBuiltIns": "usage",
            "targets": { "node": "current" }
          }
        ],
        "@babel/react"
      ]
    }
  }
}
